.avatar {
	width: 100px;
	height: 100px;
	background-color: #ffffff;
	box-shadow: 4px 4px 73px rgba(32, 29, 29, 0.25);
	position: absolute;
	top: -40px;
	left: -40px;
	border-radius: 50%;
	border: 5px solid #8359b9;
}

.avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
